<!-- This is the HTML code for Shopping LISTS ON Home Page, It has been designed with help of Vue 3 -->
<!-- Form Input Bindings Have been used to build this -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Shopping List App</title>
    <link rel="stylesheet" href="shoppinglist.css">
  </head>
  <body>
    <div id="shopping-list">
      <h1>{{ header || 'Welcome' }}</h1>
    
      <div class="add-item-form">
        <input 
          @keyup.enter="items.push({id:items.length + 1, label: newItem})" 
          type="text" v-model="newItem" placeholder = "What are you shopping?">
        <button 
          @click="items.push({id:items.length + 1, label: newItem})" 
          class="btn btn-primary">
          Save Item
        </button>
      </div>

      <ul>
        <li v-for="item in items" :key="item.id">{{item.label}}</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      const shoppingListApp = Vue.createApp({
        data() {
          return {
            header: 'Coffee Shopping List',
            newItem: '',
            newItemHighPriority: false,
            items:[
              
            ]
          }
        }
      }).mount('#shopping-list')
    </script>
  </body>
</html>
<!-- this is the final file -->